div{
    margin: 50px;
}

.warna{
    color: blue;
}

.ukuran{
    font-size: 50px;
}

#jenis{
    font-family: 'Courier New', Courier, monospace;
}

.model{
    font-weight: bold;
}